---
import type { CollectionEntry } from "astro:content";
import PostLayout from "@/layouts/PostLayout.astro";
import Pagination from "./Pagination.astro";
import { toShortDateString } from "@/lib/date";

export interface Props {
  title?: string;
  description?: string;
  currentPage?: number;
  totalPages?: number;
  paginatedPosts: CollectionEntry<"blog">[];
  buildHref?: (entry: Pick<CollectionEntry<"blog">, "data" | "id">) => string;
}

const {
  currentPage,
  totalPages,
  paginatedPosts,
  title: t,
  description,
  buildHref,
} = Astro.props;

const title = t ? t : currentPage && currentPage < 2 ? "Blog" : `Blog - Page ${currentPage}`;
const heading = t ? t : "Blog";
const clx = title && description ? "mb" : "mb-2";
const headingClass = clx;
---

<PostLayout title={title} description={description}>
  <div>
    <h1 class={headingClass}>{heading}</h1>
    {description && <div class="faded mb-2">{description}</div>}

    <ul class="flex flex-column gap-2 no-list sm-only-gap-1">
      {
        paginatedPosts.map(({ data, id }) => (
          <li class="flex gap-half flex-column">
            <div class="flex space-between align-top gap-1 sm-flex-column sm-only-gap-fifth">
              <a href={buildHref ? buildHref({ data, id }) : `/blog/${id}`} data-astro-prefetch="viewport">
                <span>{data.title}</span>
              </a>
              <time class="post-info sm-ml-0">
                {toShortDateString(data.pubDate)}
              </time>
            </div>
            <div class="small-text sm-hide">{data.description}</div>
          </li>
        ))
      }
    </ul>
    {
      currentPage && totalPages && (
        <div class="mt-2">
          <Pagination
            {currentPage}
            {totalPages}
            prevUrl={`/blog${
              currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""
            }`}
            nextUrl={`/blog/${currentPage + 1}`}
          />
        </div>
      )
    }
  </div>
</PostLayout>
